* {
  text-decoration: none;
  margin: 0;
  padding: 0px;

}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Cinzel', serif;
  
}

.wrapper {
  text-align: center;
  width: 1000px;
  margin: auto;
  position: relative;
  
}

.tengah {
  width: 1100px;
  margin: auto;
  position: relative;
}

.logo a {
  font-size: 40px;
  font-weight: normal;
  float: left;
  font-family: 'Cinzel', serif;
  color: #5B6D5B;
}

.menu {
  float: right;
}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: #F2EFEA;
  z-index: 1;
  border:1px solid #F2EFEA;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #5B6D5B;
  font-weight: bold;
  text-align: center;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

.kolom {
  margin-top: 50px;
  margin-bottom: 50px;
  margin: 40px;
}

.kolom .deskripsi {
  font-size: 100px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  color: #062C30;
  margin: 40px;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 20px;
  color: #345B63;
  width: 100%;
  line-height: 50px;  
}

#contact {
  background: #F2EFEA;
  padding: 50px 0px 50px 0px;
}

.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.footer-section {
  width: 20%;
  margin: 0 auto;
}

#copyright {
  text-align: center;
  width: 100%;
  padding: 50px 0px 50px 0px;
  margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
  .wrapper {
      width: 90%;
  }

  .logo a {
      display: block;
      width: 100%;
      text-align: center;
  }

  nav .menu {
      width: 100%;
      margin: auto;
      line-height: 60px;
  }

  nav .menu ul li {
  display: inline-block;
  float: none;
  }
}
.w3rcontainer{
  border: 1px solid 
#cccfdb;
  border-radius: 2px;
} 
.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: 
#0087ca;
}

